*{background-color: rgb(233, 32, 32);color:rgb(0, 0, 0);}
header{
    background-color: black;
    height: 300px;
    display:flex ;
    
}
header img{
    height: 100%;
}

header ul{
    background-color: rgb(219, 7, 7);
    list-style: none;
    display: flex;
    justify-content: center ;
    align-items:center; 
  
}
header ul li{
    display: flex;
    margin: 20px;
    background-color: white;
    
}