*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    max-width: 1100px;
    padding:0 2% ;
    display: flex;
    margin:0 auto ;
}
header{
    background-color: rgba(0,0,0,0.6);
    height:80px;
}
.logo{
    color: #CDAD7D;
    
    margin-top:25px
}
.menu-container{
    width:100%;
    justify-content:space-between;
}
.menu-container a.active-menu{
    background-color: #cdad7d;
}
.menu-container a{
   color: white;
    display: inline-block;
    margin:0 10px;
    text-decoration: none;
    padding:0 10px ;
    line-height: 80px;
    transition: 0.8s;
}
.menu-container a :hover{
    color:#016ABC
}

section.main{
    position: relative;
    min-height: 1000px;
    background-image: url('../imagens/MicrosoftTeams-image.png');
    background-size: cover;
    background-position: center;
    
}
.text-chamada{
    color: #CDAD7D;
    position: absolute;
    bottom: 200px;
    left: 200px;

}
.text-chamada h1{
    font-size: 90px;
    font-family: "calibri";
}
.text-chamada h3{
    font-size: 20px;
    font-family:"arial";
    color: whitesmoke;

    
}
section.produtos{
    background-color:#222344 ;
    padding: 20px 0;
    text-align: center;
    color: white;
}

section.produtos h3{
    text-transform: uppercase;
}
.produto-single{
    text-align: left;
    
}
.produto-container{
    width: 100%;
    justify-content: space-around;
}

.produto-single img{
    width:100% ;

}
.produto-single img{
    width:100% ;

}

.text-chamada input {
        background: #CDAD7D;
        color: black;
        font-family: 'Segoe UI', Tahoma;
        width: 200px; height: 50px
        
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.form-submit-button {
	background: #B9DFFF;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}

.form-submit-button:hover {
	background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000718; 
}
body, input,textarea, a{
    font-family: 'Roboto', sans-serif;
}
#section-wrapper{
    width: 100%;
    padding: 10px;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(to right, #222344, #016ABC);
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    background: #80bc96;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color: #feffd6;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #f4eb9e;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
    width: 10px;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
    background: #016ABC;  /* titulo principal*/

}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #016ABC;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: #222344;
}


/* Responsive css */

@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}
 
